<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bute.daai.amorg.xg5ort.phoneguard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:label="@string/settings"
            android:name="hu.bute.daai.amorg.xg5ort.phoneguard.activity.SettingsActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <receiver android:name="hu.bute.daai.amorg.xg5ort.phoneguard.receiver.SmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="hu.bute.daai.amorg.xg5ort.phoneguard.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service android:name="hu.bute.daai.amorg.xg5ort.phoneguard.service.EmergencyHandlerService">
        </service>
        
        <service android:name="hu.bute.daai.amorg.xg5ort.phoneguard.service.BootHandlerService">
        </service>
        
        <service android:name="hu.bute.daai.amorg.xg5ort.phoneguard.service.DatabaseService">
        </service>
        
        <service android:name="hu.bute.daai.amorg.xg5ort.phoneguard.service.SmsSenderService">
        </service>
    </application>

</manifest>
